/* CSS that will be applied to every topic page: */

* {
  text-align: center;
}

#practiceContainer {
  padding: 5px;
}

/* For mobile: */
@media only screen and (max-width: 550px) {
  #intro {
    width: 80vw;
  }

  #game {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  #question {
    grid-area: 2 / 1 / 3 / 4;
  }

  #answerField {
    grid-area: 3 / 1 / 4 / 4;
  }

  #btnSubmit {
    grid-area: 4 / 2 / 5 / 3;
  }

  #timer {
    grid-area: 1 / 3 / 2 / 4;
  }

  #levelProgressBarContainer {
    grid-area: 5 / 1 / 6 / 4;
  }
}

/* For laptop/PC/wide screens */
@media only screen and (min-width: 550px) {
  #intro {
    width: 50vw;
  }

  #game {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  #question {
    grid-area: 1 / 2 / 2 / 5;
  }

  #answerField {
    grid-area: 2 / 2 / 3 / 5;
  }

  #btnSubmit {
    grid-area: 3 / 2 / 4 / 5;
  }

  #timer {
    grid-area: 1 / 5 / 2 / 6;
  }

  #levelProgressBarContainer {
    grid-area: 4 / 2 / 5 / 5;
  }
}

#intro {
  margin: 10vh auto;
  border-radius: 25px;
  padding: 25px;
  font-size: 1.25em
}

#btnStart {
  cursor: pointer;
  padding: 5px 50px; 
  margin: 5px;
  font-size: 1.5em;
  border-radius: 8px;
  transition: 0.1s ease-in;
  border: 0px;
}

button:hover {
  transform: scale(1.05);
}

#game {
  display: none;
  padding: 5%;
  height: 90%;
  margin: auto;
}

#question {
  font-size: 2em;
  margin: 15px;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

#answerField {
  font-size: 1.5em;
  border: 2px solid;
  border-radius: 22px;
  margin: 15px;
  outline: none;
  font-weight: bold;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

#btnSubmit {
  font-size: 1.5em;
  border: 2px solid;
  border-radius: 22px;
  margin: 15px;
  transition: 0.1s;
}

#btnSubmit:hover {
  border-width: 5px;
}

#timer {
  font-size: 1.5em;
  padding: 5px;
  border-radius: 22px;
}

#newLevelContainer {
  display: none;
  width: 80vw;
  margin: 15vh auto;
  border-radius: 22px;
  padding: 10px;
}

#questionsProgressBar {
  width: 70%;
  height: 20%;
  border: 3px solid;
  border-radius: 10px;
  overflow: hidden;
}

progress::-moz-progress-bar {
  background-color: #e6e6e6;
}

progress::-moz-progress-value {
  background-color: #50fb6d;
  overflow: hidden;
}

progress::-webkit-progress-bar {
  background-color: #e6e6e6;
}

progress::-webkit-progress-value {
  background-color: #50fb6d;
  overflow: hidden; 
}

#btnContinue {
  font-size: 1.5em;
  border: 2px solid;
  border-radius: 8px;
  margin: 15px;
}

#btnContinue:hover {
  border-width: 5px;
}

#levelsProgressBar {
  width: 50vw;
  border: 3px solid;
  border-radius: 10px;
  overflow: hidden;
}

progress#levelsProgressBar::-moz-progress-bar {
  background-color: #e6e6e6;
}

progress#levelsProgressBar::-moz-progress-value {
  background-color: #50fb6d;
  overflow: hidden;
}

progress#levelsProgressBar::-webkit-progress-bar {
  background-color: #e6e6e6;
}

progress#levelsProgressBar::-webkit-progress-value {
  background-color: #50fb6d;
  overflow: hidden;
}

#mastered {
  display: none;
}

#btnReturn {
  cursor: pointer;
  padding: 5px; 
  margin: 5px;
  font-size: 1.5em;
  border: 2px solid;
  border-radius: 8px;
  font-weight: bold;
}

a {
  color: inherit;
}

/* CSS to handle the learn or practice container. */

#learnOrPracticeContainer {
  display: none;
  width: 70vw;
  margin: 15vh auto;
  padding: 20px;
  border-radius: 22px;
}

#learnContainer {
  display: none;
}

#practiceContainer {
  display: none;
}

#learnOrPracticeContainer > button {
  display: inline;
  text-align: center;
  margin-top: 15px;
  text-decoration: none;
  padding: 10px 25px;
  border: 3px solid;
  border-radius: 22px;
  font-size: 1.5em;
  font-weight: bold;
  transition: 0.3s; 
  margin: 20px;
}

#learnOrPracticeContainer > button:hover {
  transform: scale(1.05);
  cursor: pointer;
}