* {
  text-align: center;
}

button {
  cursor: pointer;
}

td > a {
  text-decoration: none;
}

td > a:hover {
  text-decoration: underline;
}

#btnPrevious10, #btnNext10 {
  text-align: center;
  margin-top: 15px;
  text-decoration: none;
  padding: 10px 5px;
  border-radius: 22px;
  font-weight: bold;
  box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
  transition: 0.3s ease-in-out;
  display: none;
  margin: 10px;
  padding: 10px 15px;
  font-size: 1.3em;
  border: none;
}

#btnPrevious10:hover, #btnNext10:hover {
  transform: scale(1.05);
}

table, th, td {
  border: 1px solid;
  border-collapse: collapse;
}

table {
  font-size: 1.2em;
}

th {
  font-size: 1.2em;
  padding: 2px 30px;
}

td {
  text-align: center;
  padding: 5px;
}

td > a {
  color: inherit;
}

#leaderboardTable {
  margin: auto;
}

/* For mobile: */
@media only screen and (max-width: 550px) {
  td > a {
    text-decoration: underline;
  }
}