* {
  text-align: center;
}

.flexContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

:root {
  --contributorInfoWidth: 250px;
  --partnerInfoWidth: 350px;
  scroll-behavior: smooth;
}

#contributorsContainer, #partnersContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contributorInfo {
  margin: 10px;
  padding: 15px;
  width: var(--contributorInfoWidth);
  border: 3px solid;
  border-radius: 22px; 
  text-align: center;
  transition: 0.3s;
}

.contributorName {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}

.contributorPicture {
  width: calc(var(--contributorInfoWidth)*0.5);
  height: calc(var(--contributorInfoWidth)*0.5);
  text-align: center;
  overflow: hidden;
  border: 4px solid rgba(0, 0, 0, 0.8);
  border-radius: 100%;
  margin-left: calc(var(--contributorInfoWidth)*0.25);
  filter: drop-shadow(0px 0px 7px #ffffff);
}

#youPic {
  border: 0px;
}

#joinDiscord {
  display: block;
  cursor: pointer;
  text-align: center;
  margin: auto;
  margin-top: 10px;
  text-decoration: none;
  padding: 10px 5px;
  border: 2px solid;
  border-radius: 22px;
  font-weight: bold;
  font-size: 16px;
  box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
  transition: 0.3s ease-in-out;
}

#joinDiscord:hover {
  filter: brightness(110%);
  transform: scale(105%);
}

img {
  display: inline;
  height: 100%;
  width: auto;
  margin: 0 auto;
}

.partnerInfo {
  margin: 10px;
  padding: 15px;
  width: var(--partnerInfoWidth);
  border: 3px solid;
  border-radius: 22px; 
  text-align: center;
  transition: 0.3s;
}

.partnerInfo:hover {
  transform: scale(1.05);
  filter: brightness(103%);
}

.partnerName {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}

.partnerPicture {
  width: calc(var(--partnerInfoWidth)*0.5);
  height: calc(var(--partnerInfoWidth)*0.5);
  text-align: center;
  overflow: hidden;
  border: 4px solid rgba(0, 0, 0, 0.8);
  border-radius: 100%;
  margin-left: calc(var(--partnerInfoWidth)*0.25);
  filter: drop-shadow(0px 0px 7px #ffffff);
}

.partnerInfo > a {
  display: block;
  cursor: pointer;
  text-align: center;
  margin: auto;
  margin-top: 10px;
  text-decoration: none;
  padding: 10px 25px;
  border: 2px solid;
  border-radius: 22px;
  font-weight: bold;
  font-size: 16px;
  box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
  transition: 0.3s ease-in-out;
}

.partnerInfo > a {
  filter: brightness(110%);
  transform: scale(105%);
}

.partnerInfo > a {
  text-decoration: none;
}

h2 {
  text-align: center;
}

#suggestionFormContainer {
  margin: 5vh auto;
  padding-top: 15px;
  border-radius: 22px;
}

#suggestionsForm {
  padding: 10px;
}

#contact {
  margin-top: 5px;
  border: 3px solid;
  border-radius: 22px;
  font-weight: bold;
  font-size: 1.2em;
  width: 81%;
  resize: none;
  outline: none;
  overflow: scroll;
}

#contact::-webkit-scrollbar {
  display: none;
}

#suggestion {
  margin-top: 5px;
  text-align: left;
  border: 3px solid;
  border-radius: 22px;
  padding: 10px;
  font-weight: bold;
  font-size: 1.1em;
  width: 81%;
  resize: none;
  outline: none;
  overflow: scroll;
}

#suggestion::-webkit-scrollbar {
  display: none;
}

#socialsContainer {
  margin: 5vh auto;
  padding: 10px;
  border-radius: 22px;
}

#btnSuggest {
  cursor: pointer;
  padding: 15px 30px;
  border: 3px solid;
  font-size: 1.5em;
  border-radius: 22px;
  transition: 0.5s;
  outline: none;
}

#btnSuggest:hover {
  transform: scale(1.025);
}

/*For PC: */
@media only screen and (min-width: 550px) {
  #suggestionFormContainer {
    width: 50%;
  }

  #socialsContainer {
    width: 60%;
  }
}


/*For mobile: */
@media only screen and (max-width: 550px) {
  #suggestionFormContainer {
    width: 90%;
  }

  #socialsContainer {
    width: 90%;
  }
}

#socialsContainer > div > a > img {
  width: 75px;
  height: auto;
  margin: 20px;
  transition: 0.4s;
}

#socialsContainer > div > a > img:hover {
  transform: scale(105%);
  filter: brightness(105%);
  transition: 0.4s;
}

#tosLink {
  margin: 15px auto;
  padding: 10px 100px;
  border-radius: 22px;
  cursor: pointer;
  font-size: 1.5em;
}

#tosLink:hover {
  filter: brightness(110%);
  transform: scale(110%);
}