* {
  text-align: center;
}

#profileContainer {
  display: none;
}

#signUpForm {
  display: none;
}

#formContainer {
  display: none;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;
}

form {
  border-radius: 22px;
  padding: 25px;
  border: 3px solid;
  width: 70vw;
  margin: auto;
}

form > label {
  font-weight: bold;
  font-size: 1.2em;
}

form > input {
  font-size: 1.2em;
  border-radius: 10px;
  border: 2px solid;
  outline: none;
  width: 70vw;
  margin: auto;
}

button {
  font-size: 1.5em;
  border-radius: 22px;
  border: solid 3px;
  padding: 10px;
  margin: 15px;
  transition: 0.2s;
}

button:hover {
  cursor: pointer;
  background-color: inherit;
  transform: scale(1.05);
}

#rememberMe {
  width: 35px;
  height: 20px;
}

#usernameLogin {
  text-transform: lowercase;
}

#usernameSignUp {
  text-transform: lowercase;
}

#profileContainer > div {
  width: 80vw;
  padding: 20px;
  margin: auto;
  border-radius: 22px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 4px solid;
}

#profileInfoDisplayName {
  font-size: 1.5em;
  font-weight: bold;
}

#profilePicture {
  overflow: hidden;
  border: 4px solid rgba(0, 0, 0, 0.8);
  border-radius: 100%;
}

#profilePicture:hover {
  cursor: pointer;
  filter: brightness(70%);
}

#friendsInfoContainer > div {
  border-radius: 22px;
  padding: 10px;
  margin: 5px auto;
}

#achievementsContainer > div {
  border: 2px solid;
  border-radius: 22px;
  padding: 10px;
  margin: 10vh auto;
}

 /* For mobile: */
@media only screen and (max-width: 500px) {
  .achievement {
    width: 60vw;
    margin: 5vh auto;
  }
}

/* For laptop/PC/wide screens */
@media only screen and (min-width: 500px) {
  .achievement {
    width: 20vw;
    margin: 5vh 5vw;
  } 
}


.achievement:hover {
  transform: scale(1.05);
  filter: brightness(110%);
  cursor: pointer;
}

a {
  color: inherit;
}

a:hover {
  font-weight: bold;
}

#profileInfoBio {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
}

#logOut {
  float: left;
  font-size: 0.5em;
}

.friendDiv {
  border: 2px solid;
  border-radius: 22px;
  width: 20vw;
  display: inline-block;
  padding: 20px;
  margin: 10px;
}

.friendPfp {
  overflow: hidden;
  border: 4px solid rgba(0, 0, 0, 0.8);
  border-radius: 100%;
  height: 100px;
  width: 100px;
}

.friendPfp:hover {
 filter: brightness(110%);
}

.friendDisplayName {
  font-size: 1.5em;
  font-weight: bold;
}

.friendUsername {
  
}