* {
  text-align: center;
}

#formContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;
}

form {
  border-radius: 22px;
  padding: 20px;
  border: 3px solid;
}

form > label {
  font-weight: bold;
  font-size: 1.2em;
}

form > input {
  font-size: 1.2em;
  border-radius: 10px;
  border: 2px solid;
  outline: none;
}

button {
  font-size: 1.5em;
  border-radius: 22px;
  border: solid 3px;
  padding: 10px;
  margin: 15px;
  transition: 0.2s;
}

button:hover {
  cursor: pointer;
  background-color: inherit;
  transform: scale(1.05);
}

#rememberMe {
  width: 35px;
  height: 20px;
}

#signUpForm {
  display: none;
}