* {
  text-align: center;
}

#profileContainer {
  display: none;
}

#signUpForm {
  display: none;
}

#formContainer {
  display: none;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;
}

form {
  border-radius: 22px;
  padding: 25px;
  border: 3px solid;
  width: 70vw;
  margin: auto;
}

form > label {
  font-weight: bold;
  font-size: 1.2em;
}

form > input {
  font-size: 1.2em;
  border-radius: 10px;
  border: 2px solid;
  outline: none;
  width: 70vw;
  margin: auto;
}

button {
  font-size: 1.5em;
  border-radius: 22px;
  border: solid 3px;
  padding: 10px;
  margin: 15px;
  transition: 0.2s;
}

button:hover {
  cursor: pointer;
  background-color: inherit;
  transform: scale(1.05);
}

#rememberMe {
  width: 35px;
  height: 20px;
}

#usernameLogin {
  text-transform: lowercase;
}

#usernameSignUp {
  text-transform: lowercase;
}

#profileContainer > div {
  width: 80vw;
  padding: 20px;
  margin: auto;
  border-radius: 22px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 4px solid;
}

#profileInfoDisplayName {
  font-size: 1.5em;
  font-weight: bold;
}

#profilePicture {
  overflow: hidden;
  border: 4px solid rgba(0, 0, 0, 0.8);
  border-radius: 100%;
}

#profilePicture:hover {
  cursor: pointer;
  filter: brightness(70%);
}

#balance {
  font-weight: bold;
  font-size: 1.2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

#piecoinIconInProfile {
  margin-left: 5px;
  font-size: 1.8em;
  color: brown;
}

#friendsInfoContainer > div {
  border-radius: 22px;
  padding: 10px;
  margin: 5px auto;
}

#achievementsContainer > div {
  border: 2px solid;
  border-radius: 22px;
  padding: 10px;
  margin: 10vh auto;
}

 /* For mobile: */
@media only screen and (max-width: 550px) {
  .achievement {
    width: 60vw;
    margin: 5vh auto;
  }

  .friendDiv {
    width: 60vw;
  }
}

/* For laptop/PC/wide screens */
@media only screen and (min-width: 550px) {
  .achievement {
    width: 20vw;
    margin: 5vh 5vw;
  } 

  .friendDiv {
    width: 20vw;
  }
}


.achievement:hover {
  transform: scale(1.05);
  filter: brightness(110%);
  cursor: pointer;
}

a {
  color: inherit;
}

a:hover {
  font-weight: bold;
}

#profileInfoBio {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
}

#logOut {
  display: block;
  margin: auto;
}

.friendDiv {
  border: 2px solid;
  border-radius: 22px;
  display: inline-block;
  padding: 20px;
  margin: 10px;
}

.friendPfp {
  overflow: hidden;
  border: 4px solid rgba(0, 0, 0, 0.8);
  border-radius: 100%;
  height: 100px;
  width: 100px;
}

.friendPfp:hover {
 filter: brightness(110%);
}

.friendDisplayName {
  font-size: 1.5em;
  font-weight: bold;
}

#topicsPracticeStatsTable {
  width: 90%;
  margin: auto;
}

table, th, td {
  border: 1px solid;
  border-collapse: collapse;
}

table {
  font-size: 1.2em;
}

th {
  font-size: 1.2em;
}

/* IcoMoon icon CSS, don't touch */
@font-face {
  font-family: 'icomoon';
  src:  url('/assets/fonts/icomoon.eot?iqmzcx');
  src:  url('/assets/fonts/icomoon.eot?iqmzcx#iefix') format('embedded-opentype'),
    url('/assets/fonts/icomoon.ttf?iqmzcx') format('truetype'),
    url('/assets/fonts/icomoon.woff?iqmzcx') format('woff'),
    url('/assets/fonts/icomoon.svg?iqmzcx#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-piecoin:before {
  content: "\e900";
}