:root {
  scroll-behavior: smooth;
}

* {
  text-align: center;
}

#changelog {
  margin: auto;
  height: 400px;
  padding: 15px;
  overflow-y: scroll;
  margin-bottom: 30px;
}

.menu {
  margin: none;
  width: 100%;
}

.item {
  display: block;
  background-color: var(--secondary-content-background-color);
  margin-bottom: 10px;
  border-radius: 8px;
  transition: all 0.1s, background-color 0.4s var(--timing-func) 0s;
  overflow: auto;
}

.btn {
  display: block;
  padding: 16px 20px;
  color: var(--secondary-content-text-color);
  text-align: left;
}

.sub-menu {
  display: block;
  background-color: var(--content-background-color);
  border-radius: 0 0 8px 8px;
  transition: all 0.5s ease-in-out, background-color 0.4s var(--timing-func) 0s;
  height: auto;
  overflow: hidden;
}

.sub-menu.collapsed {
  height: 0;
}

.sub-menu p {
  display: block;
  color: var(--secondary-content-text-color);
  padding: 16px 20px;
}

.btn i {
  transform: rotate(0deg);
  transition: all 0.5s ease-in-out;
}

.btn i.collapsed {
  transform: rotate(90deg);
}


/*For PC: */
@media only screen and (min-width: 550px) {
  #changelog {
    width: 60%;
  }
  
  .ad {
    width: 20vw;
    padding: 1.5vh 2.5vw;
    margin: 0vh 2vw;
  }

  .infoContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 10vw;
    margin-right: 10vw;
  }

  #suggestionFormContainer {
    width: 50%;
  }
}


/*For mobile: */
@media only screen and (max-width: 550px) {
  #changelog {
    width: 90%;
  }
  
  .ad {
    width: 80vw;
    margin: 5vh 0;
    padding: 10px;
  }

  .infoContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 5vw;
    margin-right: 5vw;
  }

  #suggestionFormContainer {
    width: 90%;
  }
}