
:root {
  scroll-behavior: smooth;
}

* {
  text-align: center;
}

#changelog {
  margin: auto;
  height: 400px;
  padding: 15px;
  overflow-y: scroll;
}

.menu {
  margin: none;
  width: 100%;
}

.item {
  display: block;
  background: var(--secondary-content-background-color);
  margin-bottom: 10px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  transition: all 0.1s;
  overflow: auto;
}

.item.collapsed {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.btn {
  display: block;
  padding: 16px 20px;
  color: var(--secondary-content-text-color);
}

.sub-menu {
  display: block;
  background: var(--content-background-color);
  border-radius: 0 0 8px 8px;
  transition: all 0.5s;
  height: auto;
  overflow: hidden;
}

.sub-menu.collapsed {
  height: 0;
}

.sub-menu p {
  display: block;
  color: var(--secondary-content-text-color);
  padding: 16px 20px;
}

.btn i {
  transform: rotate(0deg);
  transition: all 0.5s;
}

.btn i.collapsed {
  transform: rotate(90deg);
}


/*For PC: */
@media only screen and (min-width: 550px) {
  #changelog {
    width: 60%;
  }
  
  .ad {
    width: 20vw;
    padding: 1.5vh 2.5vw;
    margin: 0vh 2vw;
  }

  .infoContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 10vw;
    margin-right: 10vw;
  }
}


/*For mobile: */
@media only screen and (max-width: 550px) {
  #changelog {
    width: 90%;
  }
  
  .ad {
    width: 80vw;
    margin: 5vh 0;
    padding: 10px;
  }

  .infoContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 5vw;
    margin-right: 5vw;
  }
}

#suggestionFormContainer {
  width: 88vw;
  margin: 5vh auto;
  border: 3px solid;
}

#suggestionsForm {
  padding: 10px;
}

#contact {
  border: 3px solid;
  border-radius: 22px;
  font-weight: bold;
  font-size: 1.2em;
  width: 65vw;
  resize: none;
  outline: none;
  overflow: scroll;
}

#contact::-webkit-scrollbar {
  display: none;
}

#suggestion {
  text-align: left;
  border: 3px solid;
  border-radius: 22px;
  padding: 10px;
  font-weight: bold;
  font-size: 1.1em;
  width: 65vw;
  resize: none;
  outline: none;
  overflow: scroll;
}

#suggestion::-webkit-scrollbar {
  display: none;
}

#btnSuggest {
  cursor: pointer;
  padding: 15px 30px;
  border: 3px solid;
  font-size: 1.5em;
  border-radius: 22px;
  transition: 0.5s;
  outline: none;
}

#btnSuggest:hover {
  transform: scale(1.025);
}

.light-mode-swal-button {
  color: #000000;
}

.dark-mode-swal-button {
  color: #ffffff;
}