* {
  text-align: center;
}

h1 {
  margin-top: 0px;
}

.hidden {
  display: none;
}

#lobbyContainer {
  padding: 10px;
}

#gamePinDisplay {
  font-size: 2em;
  cursor: pointer;
}

#gameSettingsContainer {
  margin: 10px auto;
  border-radius: 22px;
  padding: 10px;
}

#chooseGameTopicsContainer {
  margin: 10px;
  display: none;
}

#topicInput {
  border: 2px solid;
  font-size: 1.2em;
  width: 70%;
  margin: 10px auto;
  border-radius: 22px;
}

#addTopic {
  font-size: 1.3em;
  border-radius: 22px;
  padding: 2px 10px;
  cursor: pointer;
}

#addTopic:hover {
  filter: brightness(1.15);
}

#gameTopicsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 22px;
}

#gameTopicsContainer > div {
  font-size: 1.3em;
  border: 2px solid;
  padding: 5px;
  border-radius: 10px;
  margin: 10px;
  transition: 0.5s;
}

#gameTopicsContainer > div:hover {
  transform: scale(1.05);
  filter: brightness(1.1);
}

#lobbyMembersContainer {
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 22px;
}

.memberInLobby {
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
}

.memberInLobby:hover {
  filter: brightness(110%);
}

#lobbyChatContainer {
  margin: auto;
  border-radius: 22px;
  padding-top: 10px;
  overflow-wrap: break-word;
}

#messages {
  list-style-type: none;
  overflow: scroll;
  overflow-x: hidden;
  height: 30vh;
  max-height: 30vh;
  border: 2px solid;
  width: 80%;
  margin: auto;
}

#messages > li {
  text-align: left;
}

#lobbyChatInput {
  border: 2px solid;
  font-size: 1.2em;
  width: 70%;
  margin: 10px auto;
  border-radius: 22px;
}

#lobbyChatForm > button {
  font-size: 1.3em;
  border-radius: 22px;
  padding: 2px 10px;
  cursor: pointer;
}

#lobbyChatForm > button:hover {
  filter: brightness(1.15);
}

#btnStartGame {
  font-size: 2em;
  border-radius: 22px;
  cursor: pointer;
  padding: 5px 10vw;
  margin: 20px auto;
  transition: 0.7s;
}

#btnStartGame:hover {
  transform: scale(1.05);
  filter: brightness(110%);
}

/* For mobile: */
@media only screen and (max-width: 550px) {
  #gameSettingsContainer {
    width: 80%;
  }
  
  #lobbyChatContainer {
    width: 80%;
  }

  #lobbyMembersContainer {
    width: 80%;
  }
}

/* For laptop/PC/wide screens */
@media only screen and (min-width: 550px) {
  #gameSettingsContainer {
    width: 50%;
  }
  
  #lobbyChatContainer {
    width: 50%;
  }

  #lobbyMembersContainer {
    width: 60%;
  }
}


/********** Range Input Styles **********/
/*Copy-pasted from https://www.smashingmagazine.com/2021/12/create-custom-range-input-consistent-browsers/ */
/*Range Reset*/
input[type="range"] {
   -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 15rem;
    margin: 20px;
}

/* Removes default focus */
input[type="range"]:focus {
  outline: none;
}

/***** Chrome, Safari, Opera and Edge Chromium styles *****/
/* slider track */
input[type="range"]::-webkit-slider-runnable-track {
   background-color: var(--secondary-content-background-color);
   border-radius: 0.5rem;
   height: 0.5rem;  
}

/* slider thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
   appearance: none;
   margin-top: -12px; /* Centers thumb on the track */

   /*custom styles*/
   background-color: var(--secondary-content-border-color);
   height: 2rem;
   width: 1rem;
}

input[type="range"]:focus::-webkit-slider-thumb {   
  border: 1px solid var(--secondary-content-background-color);
  outline: 3px solid var(--secondary-content-background-color);
  outline-offset: 0.125rem; 
}

/******** Firefox styles ********/
/* slider track */
input[type="range"]::-moz-range-track {
   background-color: var(--secondary-content-background-color);
   border-radius: 0.5rem;
   height: 0.5rem;
}

/* slider thumb */
input[type="range"]::-moz-range-thumb {
   border: none; /*Removes extra border that FF applies*/
   border-radius: 0; /*Removes default border-radius that FF applies*/

   /*custom styles*/
   background-color: var(--secondary-content-border-color);
   height: 2rem;
   width: 1rem;
}

input[type="range"]:focus::-moz-range-thumb {
  border: 1px solid var(--secondary-content-background-color);
  outline: 3px solid var(--secondary-content-background-color);
  outline-offset: 0.125rem; 
}

#gameContainer {
  display: none;
}

#gameCanvas {
  margin: auto;
  width: 80vw;
  border: 2px solid;
}

/*Overlay CSS code, this was stolen from https://www.w3schools.com/howto/howto_css_overlay.asp*/
#upgradesContainer {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 40px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  opacity: 0.7;
}

#openUpgradesContainer {
  width: 80vw;
  height: 40px;
  border-radius: 22px;
  border: 2px solid;
  cursor: pointer;
}

#openUpgradesContainer:hover {
  filter: brightness(110%);
}

#upgradesCategoriesContainer { 
  height: 100%;
  grid-area: 1 / 1 / 6 / 2;
}

#leaderboardCategoryToggle { 
  grid-area: 1 / 1 / 2 / 2; 
}

#defenseCategoryToggle { 
  grid-area: 2 / 1 / 3 / 2; 
}

#attackCategoryToggle { 
  grid-area: 3 / 1 / 4 / 2; 
}

#earnCategoryToggle { 
  grid-area: 4 / 1 / 5 / 2; 
}

#backToMapCategoryToggle { 
  grid-area: 5 / 1 / 6 / 2; 
}

#upgradesCategoriesContainer > div {
  border-radius: 22px;
  border: 2px solid;
  font-size: 1.2em;
  margin: 15px;
  padding: 5vh 25px;
  cursor: pointer;
}

#upgradesCategoriesContainer > div:hover {
  filter: brightness(105%);
}

#upgradesCategoriesContainer > div.selected {
  filter: brightness(105%);
  transform: scale(105%);
}

.mainAreaUpgradesContainer { 
  grid-area: 1 / 2 / 6 / 6; 
}